<center>
    @{ 
        Html.RenderAction("_Goleadores", "Goleadores");
    }
    @ViewBag.Title = "maximos goleadores";

    <h2>@ViewBag.Title<h2>
        <img src="~´/imagenes/2.jpg" height="450" width="700" />
        <br />
        <br />
        <div>
            <table class="table-bordered">
                <tr>
                    <td><hd>117 Goles</hd></td>
                    <td><hd>Cristiano Ronaldo</hd></td>
                </tr>
            </table>
        </div>

</center>